.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-header {
  background-color: #333;
  color: #fff;
  font-size: 24px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  font-size: 16px;
  background-color: #f5f5f5;
  width: 550px;
  margin: 20px auto;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-item {
  padding: 4px;
}

.done {
  text-decoration: line-through;
}

.add-item {
  padding-top: 20px;
}

.update-list {
  margin-top: 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.add-item input[type="text"] {
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-item button {
  margin-left: 8px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.add-item button:hover,
.update-list:hover {
  background-color: #555;
}

.list-item:hover {
  background-color: #f5f5f5;
}

.list-item:hover .done {
  text-decoration: line-through;
}
